In [3]:
import pandas

from sklearn.model_selection import train_test_split

data = pandas.read_csv("data/train.csv", low_memory=False)
train, test = train_test_split(data, test_size=0.2, shuffle=False)

train

,MD,TVDSS,Layer,GK,NNKT_big,PS,IK,BK,PZ,Grad_zond1,Grad_zond2,Grad_zond3,Grad_zond4,Grad_zond7,target_oil,target_collector,Well
0,2659.8,-2507.36,1,6.90,2.45,103.03,140.86,8.04,15.18,6.52,8.94,7.58,7.79,12.64,0,0,629
1,2680.7,-2522.59,1,8.42,2.23,219.44,89.06,7.08,11.19,7.97,12.42,10.46,9.13,10.59,0,0,32
2,2700.1,-2530.23,1,3.32,3.05,229.30,121.36,6.15,8.82,6.60,8.43,7.28,7.03,10.21,0,0,63
3,2961.1,-2559.85,1,7.42,3.01,222.28,124.48,9.21,8.43,7.92,7.09,6.98,7.80,9.08,0,0,364
4,2658.0,-2501.08,0,7.83,2.43,83.12,62.13,7.04,9.87,7.58,9.68,8.05,10.39,8.56,0,0,751
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709533,2607.1,-2501.94,0,9.88,3.76,68.59,112.14,11.24,12.24,14.04,15.19,7.69,9.87,8.14,0,0,122
709534,2677.7,-2510.11,0,6.46,2.01,224.68,118.75,6.72,9.84,8.59,12.44,9.94,8.78,10.71,0,0,8
709535,2654.6,-2519.38,1,7.19,3.42,119.24,92.03,2.15,12.87,13.12,13.72,18.43,19.78,20.07,0,0,522
709536,2673.6,-2526.74,1,5.70,3.45,65.72,81.16,10.33,14.46,15.40,25.55,24.28,15.84,23.70,0,1,417
709537,2670.7,-2518.03,1,6.90,2.42,108.75,133.32,6.41,9.84,7.59,10.35,7.86,8.86,9.51,0,0,629

Сразу удалим все строчки с пропусками, т.к. их очень мало:

In [4]:
train = train.dropna()
test = test.dropna()

Разбиваем на x, y:

In [5]:
train_x = train.iloc[:, 0:14]
train_y = train.iloc[:, 15]

test_x = test.iloc[:, 0:14]
test_y = test.iloc[:, 15]

train_x

,MD,TVDSS,Layer,GK,NNKT_big,PS,IK,BK,PZ,Grad_zond1,Grad_zond2,Grad_zond3,Grad_zond4,Grad_zond7
0,2659.8,-2507.36,1,6.90,2.45,103.03,140.86,8.04,15.18,6.52,8.94,7.58,7.79,12.64
1,2680.7,-2522.59,1,8.42,2.23,219.44,89.06,7.08,11.19,7.97,12.42,10.46,9.13,10.59
2,2700.1,-2530.23,1,3.32,3.05,229.30,121.36,6.15,8.82,6.60,8.43,7.28,7.03,10.21
3,2961.1,-2559.85,1,7.42,3.01,222.28,124.48,9.21,8.43,7.92,7.09,6.98,7.80,9.08
4,2658.0,-2501.08,0,7.83,2.43,83.12,62.13,7.04,9.87,7.58,9.68,8.05,10.39,8.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
709533,2607.1,-2501.94,0,9.88,3.76,68.59,112.14,11.24,12.24,14.04,15.19,7.69,9.87,8.14
709534,2677.7,-2510.11,0,6.46,2.01,224.68,118.75,6.72,9.84,8.59,12.44,9.94,8.78,10.71
709535,2654.6,-2519.38,1,7.19,3.42,119.24,92.03,2.15,12.87,13.12,13.72,18.43,19.78,20.07
709536,2673.6,-2526.74,1,5.70,3.45,65.72,81.16,10.33,14.46,15.40,25.55,24.28,15.84,23.70
709537,2670.7,-2518.03,1,6.90,2.42,108.75,133.32,6.41,9.84,7.59,10.35,7.86,8.86,9.51

In [6]:
train_y

0         0
1         0
2         0
3         0
4         0
         ..
709533    0
709534    0
709535    0
709536    1
709537    0
Name: target_collector, Length: 697424, dtype: int64

# LogisticRegression baseline

Разбиваем на X, y:

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score


model = LogisticRegression(max_iter=10000)
model.fit(train_x, train_y)

prediction = model.predict(test_x)
print(f"LogisticRegression accuracy score: {accuracy_score(test_y, prediction)}")

LogisticRegression accuracy score: 0.8274265718219367